* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  margin: 300px auto;
  border: 1px solid #acacac;
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  height: 320px;
}

.grid-cell {
  width: calc(100% / 16);
  height: calc(100% / 16);
  border: 1px solid #acacac;
}
